
.searchPage__header {
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 1px solid lightgray;
    width: auto;
}

.searchPage__headerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-right: 30px;
    
}

.searchPage__headerLogo >img {
    height: 50px;
    object-fit: contain;
}

.searchPage__headerLogo >h1 {
    font-size: 30px;
}

.searchPage__headerIcons{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 20px;
}

.searchPage__headerIcon {
    padding: 7px;
    margin: 10px;
    border: 1px solid #35d3da;
    border-radius: 999px;
    background-color: white;
    color: rgb(121, 118, 118);
    transition: all .30s;
    cursor: pointer;
    outline: none;
    transition: all .20s;
}

.searchPage__headerIcon:hover {
    color: black;
    border: 1px solid #f89c12;
    transition: all .20s;
}

.searchPage__counter{
    padding-left: 100px;
    padding-top: 20px;
    font-size: 14px;
    color: rgb(95, 95, 95);
}
.searchPage__results{
    min-height: 75vh;
    padding: 30px 100px;
}

.searchPage__footer{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    flex-wrap: wrap;   
}

.searchPage__footerLeft {
    display: flex;
    flex-direction: row;
}

.searchPage__footerLeft >p {
    padding-right: 20px;
    font-size: 14px;
    color: rgb(77, 77, 77);
    cursor: pointer;
}

.searchPage__footerLeft >p:hover{
    color:black;
}

.searchPage__footerRight {
    display: flex;
    align-items: center;
    font-size: 17px;
    flex-direction: row;
}

.searchPage__footerRightIcon {
    margin-left: 15px;
    font-size: inherit!important;
    padding: 5px;
    border: 1px solid lightgray;
    background-color: lightgray;
    border-radius: 999px; 
    transition: all .20s;  
}

.searchPage__footerRightIcon:hover{
    color: #f89c12;
    transition: all .20s;
}

@media(max-width: 1000px){
    .searchPage__header{
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .searchPage__headerIcon {
        margin: 5px;
    }  
}

@media(max-width: 914px){

    .searchPage__header{
        flex-wrap:wrap;
        justify-content: space-evenly;

    }

    .searchPage__headerIcons{
        order: 2;
    }
    .searchPage__headerLogo{
        order: 1;
        padding-bottom: 5px
    }

    .searchPage__headerSearch {
        order:3;
    }
}


@media(max-width: 600px){
    .searchPage__headerLogo>h1 {
        font-size: 18px;
    }

    .searchPage__headerLogo>img {
        height: 25px;
        padding-right: 2px;
    }

    
    .searchPage__headerIcon {
        font-size: small!important;
        padding: 5px;
        margin-bottom: 10px;
    }

    .searchPage__counter{
        padding-left: 20px;   
        
    }

    .searchPage__results{
        padding: 40px 20px;
    } 
    
    .searchPage__footer{
        
        padding: 10px 10px;
        flex-wrap: wrap;   
    }
    

    .searchPage__footerLeft >p {
        padding-right: 7px;
    }

    .searchPage__footerRight {
     margin-top: 10px;
    }
}
