.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 600px;
    align-self: center;
    padding: 7px 10px;
}

.search >form {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    width: inherit;
}
    

.search__input {
    outline: none;
    font-size: 25px;
    border: none;
    text-align: left;
    flex:1;
}

.search__icon {
    padding:10px;
    color: darkgray;
}

.search__icon:hover{
    color: #35d3da;
    cursor: pointer;
}

.search >form > button {
    display: none;
}



@media(max-width:1300px) {
    .search{
        width: 500px;
        padding:5px 10px;
    }

    .search__input{
        font-size: 20px;
    }
}



@media(max-width:570px){
    .search{
        width: 400px;
        padding:3px 5px;
    }

    .search__input{
        font-size: 17px;
    }
}

@media(max-width:480px){
    .search{
        width: 300px;
        padding:2px 3px;
    }
}